# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. GGPLOT2
4. Scikit-learn

Data Science Tools | Jupyter | R Studio | Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
total_minutes = 200
hours = total_minutes // 60  # Integer division to get hours
minutes = total_minutes % 60  # Remainder gives the remaining minutes

print(f"{total_minutes} minutes is equal to {hours} hours and {minutes} minutes.")

200 minutes is equal to 3 hours and 20 minutes.

***Objectives***

*List popular languages for data science

*List libraries used in data science

*Using markdowns in this project

*Running a simple arithmetic in this project

*Coverting minutes to hours using division

## Author 
CAJETAN NATHAN